robot_package/xml_schema/evaml_debug_element.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--
XML Schema for the EvaML Language
This is EvaML
Copyright : 2024 MIDIACOM LAB, All Rights Reserved.
See https://www.midiacom.uff.br
PublicURI : https://github.com/midiacom/eva-robot/blob/master/EvaML-EvaSIM-source-code/Linux%20Version/EvaML-Schema/evaml_schema.xsd

Developed by Marcelo Marques da Rocha
MidiaCom Laboratory - Universidade Federal Fluminense
This work was funded by CAPES and Google Research

Revision: 2025/04/16
-->
	<!-- Including the EVAML basic type definitions -->
    <xs:include schemaLocation="./evaml_basic_types.xsd"></xs:include>
	
    <!-- ** EVAML wait command definition ** -->
	<xs:element name="debug">
	  <xs:complexType>
		<xs:attribute name="commMode" type="xs:string" fixed="NULL"/>
		<xs:attribute name="id" type="idType"/>
	    <xs:attribute name="operation" type="debugOpType" use="required"/>
	  </xs:complexType>
	</xs:element>

	<!-- Debug operation type definitions -->
	<xs:simpleType name="debugOpType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAUSE"/>
			<xs:enumeration value="SHOW_DOLLAR_VAR"/>
			<xs:enumeration value="SHOW_USER_VARS"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
